<!DOCTYPE html>
<html lang="en">

    <section>

    <!-- search filter and button -->
      <form>
        <input type='text' placeholder='Filter by city' #filter/>
        <button class='primary' type='button'
          (click)="filterResults(filter.value)"> Search 
        </button>
      </form>
    </section>

    <!-- search results -->
     <section class='results'>
        <!-- *ngFor loop to iterate over each listing (location) -->
        <app-housing-location 
          *ngFor="let housingLocation of filteredLocationList"
          [housingLocation]="housingLocation">
        </app-housing-location>
     </section>

</html>